* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: mon;
  color: black;
}
@font-face {
  font-family: mon;
  src: url(font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: alt;
  src: url(font/MontserratAlternates-Bold.ttf);
}
.alt {
  font-family: alt;
  font-weight: 600;
  opacity: 1;
}
.w {
  color: white;
}
.y {
  color: rgba(229, 156, 40, 1);
}
.b {
  color: rgba(41, 32, 191, 1);
}
.op {
  opacity: 1;
}
.sm {
  font-weight: 500;
}
h1 {
  font-size: 40px;
  line-height: 64px;
  font-weight: 700;
}
p {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}
p.s {
  font-size: 14px;
  line-height: 24px;
}
p.m {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  opacity: 1;
}
p.l {
  font-size: 32px;
  line-height: 52px;
  font-weight: 500;
  opacity: 1;
}
p.vs {
  font-size: 12px;
  line-height: 18px;
}
/* bebas */
nav {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
}
.mobnav {
  display: none;
}
.ham {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  width: 28px;
}
.ham span {
  width: 100%;
  height: 4px;
  background-color: rgba(41, 32, 191, 1);
  border-radius: 4px;
}
.mainnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 32px 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
img {
  width: 100%;
}
.logo {
  width: 48px;
}
.leftnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
}
.navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
ul {
  list-style: none;
}
.navlink li {
  padding: 4px 16px;
}
.navlink li.active {
  border-bottom: 2px solid rgba(41, 32, 191, 0.4);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 64px;
}
.start {
  margin-top: 108px;
}
section {
  width: 100%;
  max-width: 1440px;
  display: flex;
  padding: 32px 64px;
  gap: 64px;
}
.bgfix {
  width: 100%;
  max-width: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/bg1.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 64px;
}
.left {
  display: flex;
  flex: 1;
}
.right {
  display: flex;
  flex: 1;
  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
}
.duobut {
  display: flex;
  margin-top: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.duobut button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border: rgba(255, 255, 255, 0.2) 1px solid;
  border-radius: 4px;
  background-color: rgba(41, 32, 191, 1);
}
.duobut button.min {
  background-color: white;
  border: rgba(41, 32, 191, 0.2) 1px solid;
}
.bgfix .duobut button.dom {
  background-color: rgba(229, 156, 40, 1);
}
.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bgban {
  margin-top: -64px;
  width: 100%;
  max-width: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/ban.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .right {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}
.banner .right .side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 48px;
  text-align: center;
  gap: 12px;
  border-left: 1px solid white;
}
.banner .right .side:last-child {
  border-right: 1px solid white;
}
.ben .left {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.ben .left ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.ben .left ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.ben .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.ben .right .benimg {
  width: 90%;
}
.lib {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.textside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 72px;
}
.textside h1 {
  width: 45%;
}
.textside p {
  width: 40%;
  text-align: end;
}
.scroller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 16px;
  overflow-x: scroll;
}
.scroller::-webkit-scrollbar {
  display: none;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 360px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  gap: 16px;
  border-radius: 12px;
  overflow: hidden;
  height: 460px;
  box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.05);
}
.card .textscard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0px 20px;
  gap: 8px;
}
.textcard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 4px;
}
.genrecards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.genrecard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1px 4px;
  border-radius: 4px;
  border: 1px solid rgba(41, 32, 191, 0.2);
}
.infocards,
.infocard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.infocards .infocard {
  gap: 8px;
}
.infocardimg {
  width: 12px;
}
.buttoncard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(41, 32, 191, 1);
  padding: 2px 0px;
  margin-top: 4px;
}
.faq {
  flex-direction: column;
  padding: 96px 64px;
}
.textmid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  text-align: center;
  width: 100%;
}
.textmid h1 {
  max-width: 612px;
}
.textmid p {
  width: 90%;
}
.faqsbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 24px;
}
.faqbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(50% - 32px);
  background-color: white;
  padding: 24px;
  border: 1px solid rgba (0, 0, 0, 0.2);
  border-radius: 8px;
  gap: 24px;
}
.faqbox .quest {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 32px;
}
.anser {
  display: none;
}
.active .anser {
  display: flex;
}
.quest p {
  width: 100%;
}
.iconfaq {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: rgba(41, 32, 191, 1);
  border-radius: 8px;
}
.active .iconfaq img{
  transform: rotate(90deg);
}
.iconfaq img {
  transition: all 0.5s ease-in-out;
  transform: rotate(0deg);
  width: 12px;
}
.lasthero {
  background-image: url(img/endbg.svg);
  max-width: 1312px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 72px 0px 0px 64px;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
.lasthero .left {
  order: 2;
  position: relative;
  z-index: 20;
  min-height: 128px;
}
.lasthero .right {
  padding-bottom: 72px;
  order: 1;
}
.lasthero .heroimg {
  position: absolute;
  display: flex;
  min-width: 420px;
  z-index: 20;
  bottom: 0;
  right: 0;
  width: 100%;
}
.singlebut {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border: rgba(255, 255, 255, 0.2) 1px solid;
  border-radius: 4px;
  background-color: rgba(41, 32, 191, 1);
}
.lasthero .singlebut {
  background-color: rgba(229, 156, 40, 1);
}
/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: rgba(41, 32, 191, 1);
  margin-top: 64px;
}
.topfoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  gap: 16px;
  padding: 48px 64px;
}
.topfoot p.tex {
  width: 100%;
  max-width: 612px;
  text-align: center;
}
.botfoot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1312px;
  gap: 24px;
  padding: 16px 24px;
  border-top: rgba(255, 255, 255, 0.4) 1px solid;
}
.whf {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 64px;
}
.whf .left {
  flex-direction: column;
  gap: 16px;
  flex: 2;
}
.whf .right {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 3;
}
.why {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
  padding: 48px 16px;
  border-bottom: 1px solid rgba(255, 255, 255 , 0.7);
}
.why:last-child {
  border: none;
}
.whytex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.whyimg {
  width: 64px;
  min-width: 64px;
}
.team {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.persons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(calc(100% / 3) - 16px);
  gap: 8px;
}
.comment {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.allcomen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 16px;
  overflow-x: scroll;
  margin-top: 24px;
}
.allcomen::-webkit-scrollbar {
  display: none;
}
.comen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 380px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  gap: 12px;
  height: 220px;
}
.topcomen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 16px;
  position: relative;
  z-index: 20;
}
.imgcomen {
  width: 36px;
}
.petik {
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
}
.texcomen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.likecomen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  align-self: end;
}
.imglike {
  width: 14px;
}
.pop {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 64px;
}
.genrespop {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  gap: 24px;
  flex-wrap: wrap;
}
.genpop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(calc(100%/3) - 16px);
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 24px 24px;
  border-radius: 12px;
  gap: 12px;
}
.titgenpop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 16px;
}
.genpop .iconfaq {
  align-self: end;
}
.disc {
  flex-direction: row;
  margin-top: 48px;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 1312px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 12px;
  padding: 32px 0px 32px 64px;
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.2);
}
.disc .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.topdisc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 16px;
}
.branddisc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.logodisc {
  width: 32px;
}
.textdisc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 8px;
}
.disc .left .singlebut {
  align-self: end;
}
.disc .right {
  position: relative;
  z-index: 20;
}
.disc .right .imgdisc {
  position: absolute;
  width: 90%;
  bottom: 0;
  right: 0;
  z-index: 25;
  min-width: 440px;
}
.disc .l {
  max-width: 412px;
}
@media screen and (max-width: 1024px) {
  section {
  display: flex;
  padding: 32px 64px;
  gap: 32px;
}
.hero .left{
  order: 2;
}
.hero .right {
  order: 1;
}
.hero {
  flex-direction: column;
}
.banner {
  flex-direction: column;
}
.left ul.listben li {
  width: 100%;
}
.ben {
  flex-direction: column;
}
.ben .right {
  display: none;
}
.lasthero {
  flex-direction: column;
  padding: 0;
}
.lasthero .left .heroimg {
  max-width: 465px;
}
.lasthero .right {
  padding: 64px;
}
h1 {
  font-size: 32px;
  line-height: 48px;
}
p {
  font-size: 14px;
  line-height: 24px;
}
p.s {
  font-size: 12px;
  line-height: 18px;
}
p.m {
  font-size: 18px;
  line-height: 20px;
}
p.l {
  font-size: 24px;
  line-height: 36px;
}
p.vs {
  font-size: 10px;
  line-height: 16px;
}
.card {
  height: 440px;
}
.whf {
  flex-direction: column;
}
.comen {
  height: 180px;
}
.disc {
  padding: 0;
}
.disc .right {
  display: none;
}
.disc .left {
  padding: 64px;
}
}
@media screen and (max-width:768px) {
  .disc .left {
  padding: 32px;
}
  .textside {
    gap: 12px;
    flex-direction: column;
    text-align: center;
  }
  .textside h1 {
    width: 80%;
  }
  .textside p {
    text-align: center;
    width: 80%;
  }
  h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .person {
    width: calc(50% - 12px);
  }
  .faqsbox {
    gap: 12px;
  }
  .faqsbox .faqbox {
    width: 100%;
  }
  .mainnav .navlink {
    display: none;
  }
  .mainnav .singlebut {
    display: none;
  }
  .ham {
    display: flex;
  }
  .mainnav {
    padding: 32px;
  }
  .brand .logo {
    width: 32px;
  }
  .why .whyimg {
    width: 48px;
    min-width: 48px;
  }
  .start {
    margin-top: 84px;
  }
  section {
    padding: 32px;
  }
  .hero , .whf , .pop, .faq{
    padding: 32px;
  }
  .genpop {
    width: calc(50% - 12px);
  }
  .lasthero .right {
    padding: 32px;
  }
  .lasthero .left {
    min-height: 184px;
  }
 .logoside {
  width: 32px;
 } 
 .iconben {
  width: 18px;
 }
  .mobnav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    position: fixed;
    z-index: 1000;
    height: 100%;
    background-color: white;
    right: 0;
    border-radius: 16px 0px 0px 16px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 32px;
    gap: 24px;
    transition: all 0.2s ease;
  }
  .butmobnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 26px;
    position: relative;
    z-index: 20;
  }
  .butmobnav span {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(41, 32, 191, 1);
    position: absolute;
    z-index: 10;
    transform: rotate(45deg);
  }
  .butmobnav span:last-child {
    transform: rotate(-45deg);
  }
  .mobnav .navlink {
    flex-direction: column;
    width: 100%;
  }
  .navlink a {
    width: 100%;
  }
  .navlink a li {
    padding: 24px;
  }
}

@media screen and (max-width: 576px) {
  .genrespop {
    gap: 12px;
  }
  .genpop {
    width: 100%;
  }
}